@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
    font-family: Mooli Regular;
    src: url(/assets/fonts/Mooli-Regular.ttf);
  }

  body {
    @apply bg-[#1f1f1f] text-[#f1f1f1] font-Mooli;
  }

  .zoom {
    @apply w-full flex items-center justify-center p-0;
    animation: zoomEffect 1s alternate;
  }


  @keyframes zoomEffect {
    0% {
      align-items: start;
    }

    25% {
      padding-top: 150px;
    }

    50% {
      align-items: end;
    }

    75% {
      padding-bottom: 150px;
    }

    100% {
      align-items: center;
      padding: 0;
    }
  }

  input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    cursor: pointer;
  }

  input[type="color"]:focus {
    border-radius: 0;
    outline: none;
  }

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  input[type="color"]::-webkit-color-swatch {
    border: 0;
    border-radius: 0;
  }

  input[type="color"]::-moz-color-swatch,
  input[type="color"]::-moz-focus-inner {
    border: 0;
  }

  input[type="color"]::-moz-focus-inner {
    padding: 0;
  }
}